PojoTiendaElectronica/xml-resources/web-service-references/WSAlmacenService/wsdl/localhost_8080/TiendaElectronica/WSAlmacenService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsAlmacen/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsAlmacen/" name="WSAlmacenService">
<types>
<xsd:schema>
<xsd:import namespace="http://wsAlmacen/" schemaLocation="http://localhost:8080/TiendaElectronica/WSAlmacenService?xsd=1"/>
</xsd:schema>
</types>
<message name="findByIsbn">
<part name="parameters" element="tns:findByIsbn"/>
</message>
<message name="findByIsbnResponse">
<part name="parameters" element="tns:findByIsbnResponse"/>
</message>
<message name="comprobarStock">
<part name="parameters" element="tns:comprobarStock"/>
</message>
<message name="comprobarStockResponse">
<part name="parameters" element="tns:comprobarStockResponse"/>
</message>
<message name="holdStock">
<part name="parameters" element="tns:holdStock"/>
</message>
<message name="holdStockResponse">
<part name="parameters" element="tns:holdStockResponse"/>
</message>
<portType name="WSAlmacen">
<operation name="findByIsbn">
<input wsam:Action="http://wsAlmacen/WSAlmacen/findByIsbnRequest" message="tns:findByIsbn"/>
<output wsam:Action="http://wsAlmacen/WSAlmacen/findByIsbnResponse" message="tns:findByIsbnResponse"/>
</operation>
<operation name="comprobarStock">
<input wsam:Action="http://wsAlmacen/WSAlmacen/comprobarStockRequest" message="tns:comprobarStock"/>
<output wsam:Action="http://wsAlmacen/WSAlmacen/comprobarStockResponse" message="tns:comprobarStockResponse"/>
</operation>
<operation name="holdStock">
<input wsam:Action="http://wsAlmacen/WSAlmacen/holdStockRequest" message="tns:holdStock"/>
<output wsam:Action="http://wsAlmacen/WSAlmacen/holdStockResponse" message="tns:holdStockResponse"/>
</operation>
</portType>
<binding name="WSAlmacenPortBinding" type="tns:WSAlmacen">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findByIsbn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="comprobarStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="holdStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSAlmacenService">
<port name="WSAlmacenPort" binding="tns:WSAlmacenPortBinding">
<soap:address location="http://localhost:8080/TiendaElectronica/WSAlmacenService"/>
</port>
</service>
</definitions>