PojoTiendaElectronica/src/META-INF/wsdl/localhost_8080/WsClient/WsClient.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wsclient/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wsclient/" name="WsClient">
<types>
<xsd:schema>
<xsd:import namespace="http://wsclient/" schemaLocation="http://localhost:8080/WsClient/WsClient?xsd=1"/>
</xsd:schema>
</types>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findClientById">
<part name="parameters" element="tns:findClientById"/>
</message>
<message name="findClientByIdResponse">
<part name="parameters" element="tns:findClientByIdResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<portType name="WsClient">
<operation name="findAll">
<input wsam:Action="http://wsclient/WsClient/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://wsclient/WsClient/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="remove">
<input wsam:Action="http://wsclient/WsClient/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://wsclient/WsClient/countRequest" message="tns:count"/>
<output wsam:Action="http://wsclient/WsClient/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://wsclient/WsClient/findRequest" message="tns:find"/>
<output wsam:Action="http://wsclient/WsClient/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://wsclient/WsClient/createRequest" message="tns:create"/>
<output wsam:Action="http://wsclient/WsClient/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findClientById">
<input wsam:Action="http://wsclient/WsClient/findClientByIdRequest" message="tns:findClientById"/>
<output wsam:Action="http://wsclient/WsClient/findClientByIdResponse" message="tns:findClientByIdResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://wsclient/WsClient/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://wsclient/WsClient/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://wsclient/WsClient/edit" message="tns:edit"/>
</operation>
</portType>
<binding name="WsClientPortBinding" type="tns:WsClient">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findClientById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WsClient">
<port name="WsClientPort" binding="tns:WsClientPortBinding">
<soap:address location="http://localhost:8080/WsClient/WsClient"/>
</port>
</service>
</definitions>