PojoTiendaElectronica/src/META-INF/wsdl/localhost_8080/TiendaElectronica/WSAlmacenService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://wsalmacen/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://wsalmacen/">

<xs:element name="Exception" type="tns:Exception"/>

<xs:element name="books" type="tns:books"/>

<xs:element name="checkStock" type="tns:checkStock"/>

<xs:element name="checkStockResponse" type="tns:checkStockResponse"/>

<xs:element name="findByIsbn" type="tns:findByIsbn"/>

<xs:element name="findByIsbnResponse" type="tns:findByIsbnResponse"/>

<xs:element name="holdStock" type="tns:holdStock"/>

<xs:element name="holdStockResponse" type="tns:holdStockResponse"/>

<xs:element name="startOrder" type="tns:startOrder"/>

<xs:element name="startOrderResponse" type="tns:startOrderResponse"/>

<xs:complexType name="findByIsbn">
<xs:sequence>
<xs:element name="isbn" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findByIsbnResponse">
<xs:sequence>
<xs:element name="return" type="tns:books" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="books">
<xs:sequence>
<xs:element name="isbn" type="xs:int" minOccurs="0"/>
<xs:element name="price" type="xs:decimal" minOccurs="0"/>
<xs:element name="unitsavailable" type="xs:int"/>
<xs:element name="unitsonhold" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startOrder">
<xs:sequence>
<xs:element name="isbn" type="xs:int"/>
<xs:element name="units" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="startOrderResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStock">
<xs:sequence>
<xs:element name="isbn" type="xs:int"/>
<xs:element name="unidades" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkStockResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="holdStock">
<xs:sequence>
<xs:element name="isbn" type="xs:int"/>
<xs:element name="units" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="holdStockResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>