PojoTiendaElectronica/src/META-INF/wsdl/localhost_8080/TiendaElectronica/WSCobro.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservices/" name="WSCobro">
<types>
<xsd:schema>
<xsd:import namespace="http://webservices/" schemaLocation="http://localhost:8080/TiendaElectronica/WSCobro?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="discountHold">
<part name="parameters" element="tns:discountHold"/>
</message>
<message name="discountHoldResponse">
<part name="parameters" element="tns:discountHoldResponse"/>
</message>
<message name="reStockHold">
<part name="parameters" element="tns:reStockHold"/>
</message>
<message name="reStockHoldResponse">
<part name="parameters" element="tns:reStockHoldResponse"/>
</message>
<message name="startPayment">
<part name="parameters" element="tns:startPayment"/>
</message>
<message name="startPaymentResponse">
<part name="parameters" element="tns:startPaymentResponse"/>
</message>
<message name="updateBalance">
<part name="parameters" element="tns:updateBalance"/>
</message>
<message name="updateBalanceResponse">
<part name="parameters" element="tns:updateBalanceResponse"/>
</message>
<message name="getNewBalance">
<part name="parameters" element="tns:getNewBalance"/>
</message>
<message name="getNewBalanceResponse">
<part name="parameters" element="tns:getNewBalanceResponse"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<portType name="WSCobro">
<operation name="remove">
<input wsam:Action="http://webservices/WSCobro/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://webservices/WSCobro/countRequest" message="tns:count"/>
<output wsam:Action="http://webservices/WSCobro/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://webservices/WSCobro/findRequest" message="tns:find"/>
<output wsam:Action="http://webservices/WSCobro/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://webservices/WSCobro/create" message="tns:create"/>
</operation>
<operation name="discountHold">
<input wsam:Action="http://webservices/WSCobro/discountHoldRequest" message="tns:discountHold"/>
<output wsam:Action="http://webservices/WSCobro/discountHoldResponse" message="tns:discountHoldResponse"/>
</operation>
<operation name="reStockHold">
<input wsam:Action="http://webservices/WSCobro/reStockHoldRequest" message="tns:reStockHold"/>
<output wsam:Action="http://webservices/WSCobro/reStockHoldResponse" message="tns:reStockHoldResponse"/>
</operation>
<operation name="startPayment">
<input wsam:Action="http://webservices/WSCobro/startPaymentRequest" message="tns:startPayment"/>
<output wsam:Action="http://webservices/WSCobro/startPaymentResponse" message="tns:startPaymentResponse"/>
</operation>
<operation name="updateBalance">
<input wsam:Action="http://webservices/WSCobro/updateBalanceRequest" message="tns:updateBalance"/>
<output wsam:Action="http://webservices/WSCobro/updateBalanceResponse" message="tns:updateBalanceResponse"/>
</operation>
<operation name="getNewBalance">
<input wsam:Action="http://webservices/WSCobro/getNewBalanceRequest" message="tns:getNewBalance"/>
<output wsam:Action="http://webservices/WSCobro/getNewBalanceResponse" message="tns:getNewBalanceResponse"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://webservices/WSCobro/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://webservices/WSCobro/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://webservices/WSCobro/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://webservices/WSCobro/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://webservices/WSCobro/edit" message="tns:edit"/>
</operation>
</portType>
<binding name="WSCobroPortBinding" type="tns:WSCobro">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="discountHold">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reStockHold">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="startPayment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getNewBalance">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="WSCobro">
<port name="WSCobroPort" binding="tns:WSCobroPortBinding">
<soap:address location="http://localhost:8080/TiendaElectronica/WSCobro"/>
</port>
</service>
</definitions>